<!DOCTYPE html>
<html>

<head>

    <%-include('partials/head.ejs')%>
        <link href="static/css/style.css" rel="stylesheet">

</head>

<body>
    <%-include('partials/header.ejs')%>



<footer>

        <%-include('partials/footer.ejs')%>
</footer>
</body>

</html>