<!DOCTYPE html>
<html>

<head>

    <%-include('partials/head.ejs')%>
        <link href="static/css/style.css" rel="stylesheet">

</head>

<body>
    <%-include('partials/header.ejs')%>
    <h1 class="text">Coming soon.......</h1>



<footer>

        <%-include('partials/footer.ejs')%>
</footer>
</body>

</html>